.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.pagination .number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: #d30812;
  color: #fff;
}

.pagination .btn {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: #d30812;
  color: #fff;
  font-weight: 700;
}

.active {
  background: #fff;
  color: #d30812;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}

@media (min-width: 768px) {
  .changePage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .pagination {
    width: 40%;
  }

  .pagination .number {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .pagination .btn {
    width: 80px;
    height: 40px;
    font-size: 1rem;
  }

  .active {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}
